* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content_wrap {
    background-color: rgb(239, 243, 241);
}

.nav {
    width: 15em;
    background-color: rgb(192, 192, 194);
    float: left;
}


.article {
    background-color: rgb(151, 148, 148);
    margin-bottom: 2em;
    margin-left: 15em;
    padding-top: 1px;
}

img {
    display: block;
    margin-left: auto;
}


.footer {
    background-color: rgb(197, 195, 191);
    clear: both;
}
