table, td {
    border: solid 1px black;
    border-collapse: collapse;
    padding: 20px;
}

tr:nth-child(even) td:nth-child(odd), tr:nth-child(odd) td:nth-child(even) {
    background-color: black;
}