* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.content_wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: rgb(233, 231, 232);
}

.nav {
    width: 15em;
    background-color: rgb(208, 204, 204);
}

.right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.article {
    width: 100%;
    margin-bottom: 1em;
    background: rgb(161, 162, 162);
}

img {
    float: right;
    
}

.footer {
    background-color: rgb(161, 162, 162);
}